@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fas: "Albert Sans",sans-serif;
    --fab: "Aboreto", sans-serif;
    --fm: "Montserrat",sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fas);
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

/*NAV BAR*/

li.logo img{
    height: 100%;
    width: 100%;
}


nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul li.fcButton{
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-radius: 99px;
    background: linear-gradient(180deg, #CA1D51, #A08E28);
}

li.fcButton a{
    font-weight: 700;
    font-size: 15px;
}

li.fcButton:hover{
    background: linear-gradient(180deg, #72102d, #615617);
}

nav{
    background-color: black;
}

nav li{
    height: 80px;
}

nav a{
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--fas);
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 16px;
}

nav a:hover{
    color: rgb(104, 103, 103);
}

nav li.logo:last-child{
    margin-left: auto;
}

.sideBar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgb(31, 31, 31);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sideBar li{
    width: 100%;
}

.sideBar a{
    width: 100%;
}

.sideBar a:hover{
    color: white;
}

.sideBar li:hover{
    background-color: rgb(57, 56, 56);
}

li.close:hover{
    background-color: transparent;
    
}

li.close a:hover{
    cursor: default;
}

li.close svg:hover{
    cursor: pointer;
    fill: white;
}

li.menu svg:hover{
    cursor: pointer;
    fill: rgb(76, 76, 76);
}

.menu{
    display: none;
}

/*Footer*/

.mainContent{
    flex: 1;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    border-top: 1.5px solid white;
    font-family: var(--fas);
}

div.firstLine{
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.pages{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    padding: 0 20px;
    list-style: none;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

div.pages li{
    height: 30px;
}

div.pages a{
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: var(--fas);
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 20px;
}

div.pages a:hover{
    color: rgb(104, 103, 103);
}

div.logo{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.contacts{
    padding: 0 20px;
    text-align: end;
}

div.socials i{
    font-size: 50px;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
}

div.socials i:hover{
    background: linear-gradient(180deg, #72102d, #615617);
    -webkit-background-clip: text;
    color: transparent;
}

div.logo div img{
    width:100%;
    height: 100%;
}

div.companyname{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
}

div.logo div.picture{
    width: 120px;
    height: 120px;
    padding: 0 20px;
}

div.copyright, div.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-family: var(--fm);
}

div.emailnum{
    padding: 10px 0 0 0;
    font-size: 20px;
    font-weight: 500;
}
/*Hero sections*/

div.hero{
    width: 100%;
    height: 400px;
    font-family: var(--fas);
    color: white;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(225deg, #F04579, #FFE031) ;
}

div.welcome{
    letter-spacing: 5px;
}

div.shadowOverlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.45);
}

h1.heroHeader{
    margin-top: 35px;
    font-weight: 900;
    font-size: 64px;
}

h1.heroHeader span{
    font-weight: 200;
}

/*Home*/

div.homeContent{
    width: 100%;
    background-color: black;
}

div p.info{
    color: white;
}

.homeContent div h2{
    text-align: center;
    font-family: var(--fab);
    margin: 60px 0 20px 0;
    font-size: 40px;
}

.flexInfo{
    display: flex;
    flex-direction: row;
}

.infoText, .logoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 60px;
}

.infoText p{
    font-size: 20px;
    line-height: 52px;
}

.logoimg img{
    height: 260px;
    width: 260px;
}

p.getter {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 52px 0 0 0;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 52px;
}

.buttons button{
    padding: 20px;
    margin: 0 100px;
    border-radius: 99px;
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    border: none;
}

.buttons a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.buttons button:hover{
    background: linear-gradient(180deg, #72102d, #615617);

}

span.bolded{
    font-family: var(--fas);
    font-weight: 800;
    color: #CA1D51;
}

h2 span{
    color: #CA1D51;
    font-family: var(--fas);
}

/*About*/

div.aboutContent{
    width: 100%;
    background-color: black;
}

div.infos{
    color: white;
    font-size: 20px;
    padding: 80px 120px;
    line-height: 52px;
    text-align: center;
}

.values div h2{
    text-align: center;
    font-family: var(--fas);
    margin: 0 0 80px 0;
    padding: 40px 0;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

div.vismis{
    height: 400px;
    width: 100%;
    background: linear-gradient(140deg, #F04579, #FFE031) ;
}

.vismis div.shadowOverlay{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

div.mission p, div.vision p{
    text-align: center;
    padding: 20px 80px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
}

.mission h2{
    text-align: center;
    padding: 10px 100px;
    font-size: 36px;
}

.vision h2{
    text-align: center;
    padding: 10px 100px;
    font-size: 32px;
}

.dictionary{
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
}

.dictionary:last-child{
    border: none;
}

.infoValue, .integrity, .love, .collaboration, .transparency{
    width: 100%;
    height: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoValue p{
    text-align: start;
    padding: 40px 100px;
    line-height: 36px;
    font-size: 20px;
}

h3.heading{
    font-size: 32px;
    padding: 20px 0;
    letter-spacing: 5px;
    font-weight: 900;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
}

.dictionary:nth-child(3), .dictionary:last-child{
    flex-direction: row-reverse;
}

.def{
    padding: 0 0 10px 0;
    font-size: 24px;
    font-family: var(--fab);
}

.extras{
    font-size: 24px;
    padding: 15px 0 0 0;
}

.extras span{
    font-weight: 700;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;

}


/*services*/

div.servicesContent{
    width: 100%;
    background-color: black;
}

div.websites{
    width: 100%;
    background-color: black;
}

.webHeader h2{
    text-align: center;
    font-family: var(--fas);
    padding: 40px 0;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.offers1, .offers2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block{
    width: 500px;
    height: 440px;
    margin: 30px 60px;
    padding: 20px 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

.webheading{
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}

.price h4{
    font-family: var(--fab);
    font-size: 16px;
    padding: 0 0 16px 0;
    font-weight: 400;
}

.webinfo p{
    font-size: 20px;
    line-height: 32px;
    padding: 12px 0;
    text-align: start;
}

.offers2{
    margin: 0 0 80px 0;
}

.starters{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.package{
    width: 100%;
    height: 500px;
    padding: 0 40px;
}

.package:nth-child(2){
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.packageinfo h4, .packageprice h4{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.packageprice h4{
    font-size: 20px;
    font-weight: 300;
    font-family: var(--fab);
}

.pInfo ul li{
    font-size: 20px;
    line-height: 40px;
}

.pInfo{
    padding: 20px 30px;
}

.addServices{
    margin: 52px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.service{
    width: 480px;
    height: 620px;
    margin: 40px 40px;
    border: 2px solid white;
    border-radius: 10px;

}

.serviceHeader h3{
    background: linear-gradient(290deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 28px;
    padding: 20px 0 5px 0;
    text-align: center;
}

.servicePrice h4{
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 18px;

}

.serviceInfo{
    padding: 10px 30px;
    font-size: 20px;
}

.callTA{
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 24px;
    padding: 10px 200px;
}

/*contact*/
.contactContent, .infoContact, .contact, .form{
    width: 100%;
}

.infoContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 60%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactContent h2{
    text-align: center;
    font-family: var(--fas);
    padding: 80px 0;
    font-size: 36px;
}


.email, .phone,.location{
    height: 80px;
    width: 80%;
    margin-bottom: 32px;
    font-family: var(--fas);
    border-left: 3px solid transparent;
    border-color: #F04579;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header,.theInfo{
    padding: 0 12px;
}

.header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.theInfo{
    font-size: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    height: 32px;
    width: 50%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

input:focus{
    border-color: #F04579;
}

textarea:focus{
    border: 2px solid #F04579;
}

input, textarea{
    padding: 8px 10px;
}

textarea{
    margin: 20px 0;
    height: 160px;
    width: 50%;
    resize: none;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    outline: none;
}

.formgroup{
    padding: 0 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formgroup button{
    padding: 20px;
    margin: 0 100px;
    margin-bottom: 50px;
    border-radius: 99px;
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.formgroup button:hover{
    background: linear-gradient(180deg, #72102d, #615617);
}

/*Submit*/

.submitted h2{
    text-align: center;
    background: linear-gradient(275deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 64px;
    padding: 20px 0;

}

.submitted p{
    text-align: center;
    font-size: 20px;
}

.success{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Media Queries*/
@media (min-width:360px) and (max-width: 480px){
    .hideMobile{
        display: none;
    }
    .sideBar{
        width: 100%;
    }
    .menu{
        display: block;
    }

    li.logo{
        display: none;
    }

    li.fcButton a{
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0;
    }

/*Hero*/
    div.hero{
        width: 100%;
        height: 320px;
        font-family: var(--fas);
        color: white;
        text-align: center;
        font-size: 18px;
        background: linear-gradient(225deg, #F04579, #FFE031) ;
    }
    
    div.welcome{
        letter-spacing: 5px;
    }
    
    div.shadowOverlay{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0, 0.45);
    }
    
    h1.heroHeader{
        margin-top: 35px;
        font-weight: 900;
        font-size: 32px;
    }
    
    h1.heroHeader span{
        font-weight: 200;
    }

    /*Home*/

    .homeContent div h2{
        text-align: center;
        font-family: var(--fab);
        margin: 60px 0 20px 0;
        font-size: 24px;
    }

    .flexInfo{
        display: flex;
        flex-direction: column;
    }
    
    .infoText, .logoimg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 40px 0;
    }
    
    .infoText p{
        padding: 0 20px;
        text-align: start;
        font-size: 16px;
        line-height: 32px;
    }
    
    p.getter {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 52px 16px 0 16px;
    }
    
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 52px;
    }
    
    .buttons button{
        padding: 20px;
        margin: 0 10px;
        border-radius: 99px;
        background: linear-gradient(180deg, #CA1D51, #A08E28);
        border: none;
    }
    
    .buttons a{
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        color: white;
    }

    .logoimg img{
        height: 260px;
        width: 260px;
    }

    /*About*/
    div.aboutContent{
        width: 100%;
        background-color: black;
    }
    
    div.infos{
        color: white;
        font-size: 12px;
        padding: 40px 16px;
        line-height: 32px;
        text-align: center;
    }
    
    .aboutContent div h2{
        text-align: center;
        font-family: var(--fas);
        margin: 0 0 80px 0;
        padding: 40px 0;
        font-size: 32px;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }

    .vismis div.shadowOverlay{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
    }
    
    div.vismis{
        height: 800px;
        width: 100%;
        background: linear-gradient(140deg, #F04579, #FFE031) ;
    }
    
    div.mission p, div.vision p{
        text-align: center;
        padding: 20px 40px;
        font-size: 20px;
        line-height: 36px;
        font-weight: 500;
    }
    
    .mission h3{
        text-align: center;
        padding: 10px 100px;
        font-size: 36px;
    }
    
    .vision h3{
        text-align: center;
        padding: 10px 100px;
        font-size: 32px;
    }
    
    .dictionary{
        width: 100%;
        display: flex;
        border-bottom: 2px solid white;
    }
    
    .dictionary:last-child{
        border: none;

    }

    .dictionary:nth-child(3), .dictionary:last-child{
        flex-direction: column;
    }
    
    .dictionary{
        flex-direction: column;
    }
    
    .infoValue, .integrity, .love, .collaboration, .transparency{
        width: 100%;
        height: 700px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoValue p{
        text-align: start;
        padding: 40px 30px;
        line-height: 36px;
        font-size: 20px;
    }
    
    h3.heading{
        font-size: 24px;
        padding: 20px 0;
        letter-spacing: 5px;
        font-weight: 900;
        background: linear-gradient(130deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    
    .def{
        padding: 0 10px 10px 10px;
        font-size: 18px;
        font-family: var(--fab);
    }
    
    .extras{
        font-size: 18px;
        padding: 15px 0 0 0;
    }
    
    .extras span{
        font-weight: 700;
        background: linear-gradient(130deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
    
    }

    /*Services*/
    .webHeader h2{
        text-align: center;
        font-family: var(--fas);
        padding: 40px 0;
        font-size: 28px;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
    .offers1, .offers2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .block{
        width: 100%;
        height: 440px;
        margin: 20px 0;
        padding: 20px 0;
        text-align: center;
        border: none;
    }
    
    .webheading{
        background: linear-gradient(180deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 32px;
        padding: 20px 0;
        text-align: center;
    }
    
    .price h4{
        font-family: var(--fab);
        font-size: 16px;
        padding: 0 16px 16px 16px;
        font-weight: 400;
    }
    
    .webinfo p{
        font-size: 18px;
        line-height: 32px;
        padding: 12px 16px;
        text-align: center;
    }
    
    .offers2,.offers1{
        margin: 0 0 80px 0;
    }
    
    .starters{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .package{
        width: 100%;
        height: 500px;
        padding: 0;
    }
    
    .package:nth-child(2){
        border: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    
    .packageinfo h4, .packageprice h4{
        text-align: center;
        padding-bottom: 10px;
        font-size: 20px;
    }
    
    .packageprice h4{
        font-size: 16px;
        font-weight: 300;
        font-family: var(--fab);
    }
    
    .pInfo ul li{
        font-size: 20px;
        line-height: 40px;
    }
    
    .pInfo{
        padding: 20px 40px;
    }
    
    .addServices{
        margin: 16px 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .service{
        width: 480px;
        height: 560px;
        margin: 20px 0;
        border: none;
    
    }
    
    .serviceHeader h3{
        background: linear-gradient(290deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 24px;
        padding: 20px 0 5px 0;
        text-align: center;
    }
    
    .servicePrice h4{
        text-align: center;
        padding: 5px 16px 10px 16px;
        font-size: 16px;
    
    }
    
    .serviceInfo{
        padding: 10px 28px;
        font-size: 18px;
    }
    
    .callTA{
        margin: 40px 0 0 0;
        text-align: center;
        font-size: 18px;
        padding: 10px 10px;
    }

    /*Contact*/
    .contactContent, .infoContact, .contact, .form{
        width: 100%;
    }
    
    .infoContact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact{
        width: 60%;
        padding: 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .contactContent h2{
        text-align: center;
        font-family: var(--fas);
        padding: 60px 20px;
        font-size: 20px;
    }
    
    
    .email, .phone,.location{
        height: 80px;
        width: 100%;
        margin-bottom: 32px;
        font-family: var(--fas);
        border-left: 3px solid transparent;
        border-color: #F04579;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .header,.theInfo{
        padding: 2px 12px;
    }
    
    .header{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .theInfo{
        font-size: 15px;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    input{
        height: 32px;
        width: 80%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
    }
    
    input:focus{
        border-color: #F04579;
    }
    
    textarea:focus{
        border: 2px solid #F04579;
    }
    
    input, textarea{
        padding: 8px 10px;
    }
    
    textarea{
        margin: 20px 0;
        height: 170px;
        width: 80%;
        resize: none;
        background: transparent;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        outline: none;
    }
    
    .formgroup{
        padding: 0 40px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .formgroup button{
        padding: 20px;
        margin: 0 100px;
        margin-bottom: 50px;
        border-radius: 99px;
        background: linear-gradient(180deg, #CA1D51, #A08E28);
        border: none;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }
    
    .formgroup button:hover{
        background: linear-gradient(180deg, #72102d, #615617);
    }

}


@media (min-width:720px) and (max-width:1024px) {

    .hideMobile{
        display: none;
    }
    .sideBar{
        width: 50%;
    }
    .menu{
        display: block;
    }

    li.logo{
        display: none;
    }

    div.homeContent{
        width: 100%;
        background-color: black;
    }
    
    div p.info{
        color: white;
    }
    
    .homeContent div h2{
        text-align: center;
        font-family: var(--fab);
        margin: 60px 0 20px 0;
        font-size: 32px;
    }

    .flexInfo{
        display: flex;
        flex-direction: column;
    }
    
    .infoText, .logoimg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 40px 0px;
    }
    
    .infoText p{
        font-size: 16px;
        line-height: 28px;
        padding: 0 28px;
    }
    
    p.getter {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 52px 10px 0 0;
    }
    
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 52px;
    }
    
    .buttons button{
        padding: 20px;
        margin: 0 100px;
        border-radius: 99px;
        background: linear-gradient(180deg, #CA1D51, #A08E28);
        border: none;
    }
    
    .buttons a{
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        color: white;
    }

    /*About*/

div.aboutContent{
    width: 100%;
    background-color: black;
}

div.infos{
    color: white;
    font-size: 20px;
    padding: 80px 120px;
    line-height: 52px;
    text-align: center;
}

.aboutContent div h2{
    text-align: center;
    font-family: var(--fas);
    margin: 0 0 40px 0;
    padding: 40px 0;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

div.vismis{
    height: 400px;
    width: 100%;
    background: linear-gradient(140deg, #F04579, #FFE031) ;
}

div.mission p, div.vision p{
    text-align: center;
    padding: 20px 40px;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}

.mission h3{
    text-align: center;
    padding: 10px 100px;
    font-size: 36px;
}

.vision h3{
    text-align: center;
    padding: 10px 100px;
    font-size: 32px;
}

.dictionary{
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
}

.dictionary:last-child{
    border: none;
}

.infoValue, .integrity, .love, .collaboration, .transparency{
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoValue p{
    text-align: start;
    padding: 50px 100px;
    line-height: 36px;
    font-size: 20px;
}

h3.heading{
    font-size: 32px;
    padding: 20px 0;
    letter-spacing: 5px;
    font-weight: 900;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
}

.dictionary:nth-child(3), .dictionary:last-child{
    flex-direction: column;
}

.dictionary{
    flex-direction: column;
}

.def{
    padding: 0 0 10px 0;
    font-size: 24px;
    font-family: var(--fab);
}

.extras{
    font-size: 24px;
    padding: 15px 0 0 0;
}

.extras span{
    font-weight: 700;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;

}

/*Services*/
.webHeader h2{
    text-align: center;
    font-family: var(--fas);
    padding: 40px 0;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.offers1, .offers2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block{
    width: 500px;
    height: 440px;
    margin: 30px 60px;
    padding: 20px 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

.webheading{
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
}

.price h4{
    font-family: var(--fab);
    font-size: 14px;
    padding: 0 0 16px 0;
    font-weight: 800;
}

.webinfo p{
    font-size: 20px;
    line-height: 32px;
    padding: 12px 0;
    text-align: start;
}

.offers2{
    margin: 0 0 80px 0;
}

.starters{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.package{
    width: 100%;
    height: 500px;
    padding: 0 0px;
}

.package:nth-child(2){
    border: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.packageinfo h4, .packageprice h4{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.packageprice h4{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--fab);
}

.pInfo ul li{
    font-size: 20px;
    line-height: 40px;
}

.pInfo{
    padding: 20px 30px;
}

.addServices{
    margin: 52px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.service{
    width: 480px;
    height: 620px;
    margin: 40px 40px;
    border: 2px solid white;
    border-radius: 10px;

}

.serviceHeader h3{
    background: linear-gradient(290deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 28px;
    padding: 20px 0 5px 0;
    text-align: center;
}

.servicePrice h4{
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 18px;

}

.serviceInfo{
    padding: 10px 30px;
    font-size: 21px;
}

.callTA{
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 24px;
    padding: 10px 36px;
}

/*contact*/
.contactContent, .infoContact, .contact, .form{
    width: 100%;
}

.infoContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 60%;
    padding: 36px 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.contactContent h2{
    text-align: center;
    font-family: var(--fas);
    padding: 40px 20px;
    font-size: 24px;
}


.email, .phone,.location{
    height: 80px;
    width: 80%;
    margin-bottom: 32px;
    font-family: var(--fas);
    border-left: 3px solid transparent;
    border-color: #F04579;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header,.theInfo{
    padding: 0 12px;
}

.header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.theInfo{
    font-size: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    height: 32px;
    width: 50%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

input:focus{
    border-color: #F04579;
}

textarea:focus{
    border: 2px solid #F04579;
}

input, textarea{
    padding: 8px 10px;
}

textarea{
    margin: 20px 0;
    height: 160px;
    width: 50%;
    resize: none;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    outline: none;
}

.formgroup{
    padding: 0 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formgroup button{
    padding: 20px;
    margin: 0 100px;
    margin-bottom: 50px;
    border-radius: 99px;
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.formgroup button:hover{
    background: linear-gradient(180deg, #72102d, #615617);
}

}

@media (min-width:1025px) and (max-width:1370px){

    ul li.fcButton{
        margin-left: auto;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        border-radius: 99px;
        background: linear-gradient(180deg, #CA1D51, #A08E28);
    }
    
    li.fcButton a{
        font-weight: 700;
        font-size: 15px;
    }
    
    li.fcButton:hover{
        background: linear-gradient(180deg, #72102d, #615617);
    }
    
    nav{
        background-color: black;
    }
    
    nav li{
        height: 80px;
    }
    
    nav a{
        height: 100%;
        padding: 0 40px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-family: var(--fas);
        letter-spacing: 3px;
        font-weight: normal;
        font-size: 12px;
    }
    
    nav a:hover{
        color: rgb(104, 103, 103);
    }

    /*About*/

div.aboutContent{
    width: 100%;
    background-color: black;
}

div.infos{
    color: white;
    font-size: 20px;
    padding: 80px 120px;
    line-height: 52px;
    text-align: center;
}

.aboutContent div h2{
    text-align: center;
    font-family: var(--fas);
    margin: 0 0 40px 0;
    padding: 40px 0;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

div.vismis{
    height: 400px;
    width: 100%;
    background: linear-gradient(140deg, #F04579, #FFE031) ;
}

div.mission p, div.vision p{
    text-align: center;
    padding: 20px 80px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
}

.mission h3{
    text-align: center;
    padding: 10px 100px;
    font-size: 36px;
}

.vision h3{
    text-align: center;
    padding: 10px 100px;
    font-size: 32px;
}

.dictionary{
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
}

.dictionary:last-child{
    border: none;
}

.infoValue, .integrity, .love, .collaboration, .transparency{
    width: 100%;
    height: 440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoValue p{
    text-align: start;
    padding: 40px 40px;
    line-height: 36px;
    font-size: 18px;
}

h3.heading{
    font-size: 32px;
    padding: 20px 0;
    letter-spacing: 5px;
    font-weight: 900;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
}

.dictionary:nth-child(3), .dictionary:last-child{
    flex-direction: row-reverse;
}

.def{
    padding: 0 0 10px 0;
    font-size: 24px;
    font-family: var(--fab);
}

.extras{
    font-size: 24px;
    padding: 15px 0 0 0;
}

.extras span{
    font-weight: 700;
    background: linear-gradient(130deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;

}


/*Services*/
.webHeader h2{
    text-align: center;
    font-family: var(--fas);
    padding: 40px 0;
    font-size: 40px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.offers1, .offers2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    width: 500px;
    height: 560px;
    margin: 30px 60px;
    padding: 20px 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

.webheading{
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}

.price h4{
    font-family: var(--fab);
    font-size: 16px;
    padding: 0 0 16px 0;
    font-weight: 600;
}

.webinfo p{
    font-size: 20px;
    line-height: 32px;
    padding: 12px 0;
    text-align: start;
}

.offers2{
    margin: 0 0 80px 0;
}

.starters{
    display: flex;
    width: 100%;
}

.package{
    width: 100%;
    height: 580px;
    padding: 0 40px;
}

.package:nth-child(2){
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.packageinfo h4, .packageprice h4{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.packageprice h4{
    font-size: 20px;
    font-weight: 300;
    font-family: var(--fab);
}

.pInfo ul li{
    font-size: 20px;
    line-height: 40px;
}

.pInfo{
    padding: 20px 30px;
}

.addServices{
    margin: 52px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.service{
    width: 480px;
    height: 620px;
    margin: 40px 40px;
    border: 2px solid white;
    border-radius: 10px;

}

.serviceHeader h3{
    background: linear-gradient(290deg, #CA1D51, #A08E28);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 28px;
    padding: 20px 0 5px 0;
    text-align: center;
}

.servicePrice h4{
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 18px;

}

.serviceInfo{
    padding: 10px 30px;
    font-size: 20px;
}

.callTA{
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 24px;
    padding: 10px 200px;
}

/*contact*/
.contactContent, .infoContact, .contact, .form{
    width: 100%;
}

.infoContact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 60%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contactContent h2{
    text-align: center;
    font-family: var(--fas);
    padding: 80px 0;
    font-size: 28px;
}


.email, .phone,.location{
    height: 80px;
    width: 80%;
    margin-bottom: 32px;
    font-family: var(--fas);
    border-left: 3px solid transparent;
    border-color: #F04579;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header,.theInfo{
    padding: 0 12px;
}

.header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.theInfo{
    font-size: 18px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    height: 32px;
    width: 50%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

input:focus{
    border-color: #F04579;
}

textarea:focus{
    border: 2px solid #F04579;
}

input, textarea{
    padding: 8px 10px;
}

textarea{
    margin: 20px 0;
    height: 160px;
    width: 50%;
    resize: none;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.formgroup{
    padding: 0 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formgroup button{
    padding: 20px;
    margin: 0 100px;
    margin-bottom: 50px;
    border-radius: 99px;
    background: linear-gradient(180deg, #CA1D51, #A08E28);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.formgroup button:hover{
    background: linear-gradient(180deg, #72102d, #615617);
}

}

@media (max-width:1368px) {
    div.firstLine{
        padding: 30px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.pages{
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        padding: 10px 20px;
        list-style: none;
        border: none;
    }
    
    div.pages li{
        height: 30px;
        padding: 10px 0;

    }
    
    div.pages a{
        height: 100%;
        padding: 5px 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-family: var(--fas);
        letter-spacing: 3px;
        font-weight: normal;
        font-size: 20px;
    }
    
    div.pages a:hover{
        color: rgb(104, 103, 103);
    }
    
    div.logo{
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.contacts{
        padding: 0 20px;
        text-align: center;
    }
    
    div.socials i{
        font-size: 50px;
        background: linear-gradient(130deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    div.socials i:hover{
        background: linear-gradient(180deg, #72102d, #615617);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    div.logo div img{
        width:100%;
        height: 100%;
    }
    
    div.companyname{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 5px;
        background: linear-gradient(130deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    div.logo div.picture{
        width: 100px;
        height: 100px;
        padding: 0 20px;
    }
    
    div.copyright, div.socials{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: var(--fm);
        font-size: 16px;
    }
    
    div.emailnum{
        padding: 10px 0 20px 0;
        font-size: 24px;
        font-weight: 500;
    }

    div.firstLine{
        padding: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width:767px) {
    div.firstLine{
        padding: 30px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.pages{
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        padding: 10px 20px;
        list-style: none;
        border: none;
    }
    
    div.pages li{
        height: 30px;
        padding: 10px 0;

    }
    
    div.pages a{
        height: 100%;
        padding: 5px 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-family: var(--fas);
        letter-spacing: 3px;
        font-weight: normal;
        font-size: 16px;
    }
    
    div.pages a:hover{
        color: rgb(104, 103, 103);
    }
    
    div.logo{
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.contacts{
        padding: 0 20px;
        text-align: center;
    }
    
    div.socials i{
        font-size: 40px;
        background: linear-gradient(130deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    div.socials i:hover{
        background: linear-gradient(180deg, #72102d, #615617);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    div.logo div img{
        width:100%;
        height: 100%;
    }
    
    div.companyname{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 5px;
        background: linear-gradient(130deg, #CA1D51, #A08E28);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    div.logo div.picture{
        width: 100px;
        height: 100px;
        padding: 0 20px;
    }
    
    div.copyright, div.socials{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: var(--fm);
        font-size: 12px;
    }
    
    div.emailnum{
        padding: 10px 0 10px 0;
        font-size: 16px;
        font-weight: 500;
    }

    div.firstLine{
        padding: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

